<div class="container mt-3">
  <div class="jumbotron card card-image" style="background-image: url(https://wallpaperscave.ru/images/thumbs/download/1920x1080/18/10-20/earth-nature-forest-93183.jpg)">
    <div class="text-white text-center py-5 px-4">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Simple charging service</strong></h2>
        <p class="mx-5 mb-5">
          Just a cool text that will make you sign up and subscribe to something. <br>And now look at the services that I have created.
        </p>
        <a class="btn btn-outline-white btn-md" routerLink="services"><i class="fas fa-clone left"></i> View services</a>
      </div>
    </div>
  </div>
</div>
