<div class="modal-content">
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="mdbModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="form">
    <div class="modal-body mx-3">
      <div class="mb-3">
        <label for="inputLogin">Login</label>
        <input type="text" id="inputLogin" class="form-control" formControlName="login">
        <div class="alert alert-danger mt-3" *ngIf="form.controls['login'].invalid && form.controls['login'].dirty">
          Please enter your login, using 4-40 Cyrillic or Latin characters, 0-9 digit, _ '
        </div>
      </div>

      <div class="mb-3">
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" class="form-control" formControlName="password">
        <div class="alert alert-danger mt-3"
             *ngIf="form.controls['password'].invalid && form.controls['password'].dirty">
          Please enter your username, using 4-40 Cyrillic or Latin characters, 0-9 digit, _ '
        </div>

        <div class="alert alert-danger mt-3" *ngIf="error">{{error}}</div>
      </div>

    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button class="btn grey lighten-2" routerLink="" [disabled]="form.invalid" (click)="signIn()">Sign in</button>
    </div>
  </form>
</div>

