<div class="container col-lg-6 my-5 ">
  <section class="text-center mb-4">
    <div class="spinner-grow" role="status" *ngIf="loading">
      <span class="sr-only">Loading...</span>
    </div>
    <mdb-navbar SideClass="navbar navbar-expand-lg mb-3 white" [containerInside]="false">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div class="form-group row">
            <label class="col-2 col-form-label space mt-2" for="sortBy">Sort By:</label>
            <div class="col-10">
              <select id="sortBy" class="browser-default custom-select mt-2" (change)="sortBy($event)">
                <option [value]="'Asc id'">Date: form old to new</option>
                <option [value]="'Desc id'" selected>Date: form new to old</option>
                <option [value]="'Asc name'">Name: from A to Z</option>
                <option [value]="'Desc name'">Name: from Z to A</option>
                <option [value]="'Asc price'">Price: from low to high</option>
                <option [value]="'Desc price'">Price: from high to low</option>
              </select>
            </div>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="form-group row">
            <label class="col-6 col-form-label space mt-2" for="count">Elements Count:</label>
            <div class="col-6">
              <select id="count" class="browser-default custom-select mt-2 " (change)="changePageSize($event)">
                <option value="3">3</option>
                <option value="5" selected>5</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
        </li>
      </ul>
    </mdb-navbar>

    <div *ngFor="let provider of page?.content;">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
              <div *ngIf="provider.photo == null">
                <img class="card-img" width="100" height="150" src="https://portdoverkia.com/dist/img/nophoto.jpg"
                     alt="{{provider.name}}" routerLink="{{provider.id}}"/>
              </div>
              <div *ngIf="provider.photo != null">
                <img class="card-img" width="100" height="150" src="data:image/jpg;base64,{{provider.photo}}"
                     alt="{{provider.name}}" routerLink="{{provider.id}}"/>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <h4 style="margin-bottom: 1em">
                <a routerLink="{{provider.id}}" class="dark-grey-text">{{provider.name}}</a>
              </h4>
              <a routerLink="category/{{provider.category.name}}" class="grey-text">
                <h5 style="margin-bottom: 1em">Category: {{provider.category.name}}</h5>
              </a>
              <h4 class="font-weight-bold blue-text">
                <strong>{{provider.price}} BYN</strong>
              </h4>
            </div>
            <div class="col-lg-4 col-md-12">
              <button class="btn grey grey lighten-2 center-btn" routerLink="{{provider.id}}">Info
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <nav aria-label="Page navigation example">

    <ul class="pagination pg-amber pagination-lg justify-content-center ">
      <li class=" page-item">
        <div *ngIf="page?.currentPageNumber+1 == defaultStartPage;else previousNotDisabled">
          <a class="page-link btn grey lighten-2 text-dark font-weight-bold disabled" mdbWavesEffect>
            <mdb-icon fas icon="angle-left"></mdb-icon>
          </a>
        </div>
        <ng-template #previousNotDisabled>
          <a class="page-link btn grey lighten-2 text-dark font-weight-bold" mdbWavesEffect
             (click)="getPage(page.currentPageNumber)">
            <mdb-icon fas icon="angle-left"></mdb-icon>
          </a>
        </ng-template>
      </li>
      <div *ngFor="let num of pageNumber">
        <div *ngIf="num == page?.currentPageNumber+1; else elseBlock">
          <li class="page-item active">
            <a class="page-link btn font-weight-bold" mdbWavesEffect>{{num}}</a>
          </li>
        </div>
        <ng-template #elseBlock>
          <li class="page-item ">
            <a class="page-link btn grey lighten-2 text-dark font-weight-bold" mdbWavesEffect
               (click)="getPage(num)">{{num}}</a>
          </li>
        </ng-template>
      </div>
      <li class="page-item">
        <div *ngIf="page?.currentPageNumber+1 != page?.totalPages; else nextNotDisabled">
          <a class="page-link btn grey lighten-2 text-dark font-weight-bold" mdbWavesEffect
             (click)="getPage(page.currentPageNumber+2)">
            <mdb-icon fas icon="angle-right"></mdb-icon>
          </a>
        </div>
        <ng-template #nextNotDisabled>
          <a class="page-link btn grey lighten-2 text-dark font-weight-bold disabled" mdbWavesEffect>
            <mdb-icon fas icon="angle-right"></mdb-icon>
          </a>
        </ng-template>
      </li>
    </ul>
  </nav>
</div>


