<div class="modal-content">
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold text-secondary ml-5">Edit form</h4>
    <button type="button" class="close text-secondary" (click)="mdbModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="providerForm">
    <div class="modal-body mx-3">

      <div class="mb-3">
        <label for="materialContactFormName">Name</label>
        <input type="text" id="materialContactFormName" class="form-control" formControlName="name">
        <div class="alert alert-danger mt-3"
             *ngIf="providerForm.controls['name'].invalid && providerForm.controls['name'].dirty">
          Please enter the service name, 3-50 characters
        </div>
      </div>

      <div class="mb-3">
        <label for="price">Price</label>
        <input type="number" id="price" step="0.01" class="form-control" formControlName="price">
        <div class="alert alert-danger mt-3"
             *ngIf="providerForm.controls['price'].invalid && providerForm.controls['price'].dirty">
          Please enter valid price more 0.1 and less 8 characters, format X,XX or X
        </div>
      </div>

      <div class="mb-3">
        <label for="materialContactDescription">Description</label>
        <textarea id="materialContactDescription" class="form-control md-textarea" rows="3"
                  formControlName="description"></textarea>
        <div class="alert alert-danger mt-3"
             *ngIf="providerForm.controls['description'].invalid && providerForm.controls['description'].dirty">
          Please enter the service description, 5-1000 characters
        </div>
      </div>


      <div class="custom-file mb-3">
        <input type="file" class="custom-file-input" id="photo" formControlName="photo"
               (change)="onFileSelected($event)"
               accept="image/jpeg,image/png">
        <label class="custom-file-label" for="photo" *ngIf="!selectedPhoto">Select a photo in png or jpg format</label>
        <label class="custom-file-label" for="photo" *ngIf="selectedPhoto">{{selectedPhoto?.name}}</label>
        <div class="alert alert-danger mt-2"
             *ngIf="providerForm.controls['photo'].invalid">
          Incorrect photo format. Photo should be png or jpg
        </div>
      </div>

    </div>

    <div class="modal-footer d-flex justify-content-center ">
      <button class="btn grey lighten-2 waves-effect" [disabled]="providerForm.invalid"
              (click)="updateProvider()">Edit form
      </button>
    </div>
  </form>
</div>
