<mdb-navbar SideClass="navbar navbar-expand-lg mb-3 fixed-top scrolling-navbar navbar-dark elegant-color"
            [containerInside]="false">

  <mdb-navbar-brand><a class="navbar-brand" routerLink="">Simple charging service</a></mdb-navbar-brand>

  <links>
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <div class="dropdown" mdbDropdown>
          <a mdbDropdownToggle class="nav-link dropdown-toggle text-white" routerLink="services">
            Services
          </a>
          <div class="dropdown-menu transparency rounded-0 border-0 ">
            <div *ngFor="let category of categories">
              <a class="dropdown-item" [routerLink]="['services']" [queryParams]="{categoryName:category?.name}">
                <h6 class="text-color">{{category.name}}</h6></a>
            </div>
          </div>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="userRole == 'ROLE_ADMIN' || userRole == 'ROLE_PROVIDER'">
        <div class="dropdown" mdbDropdown>
          <a mdbDropdownToggle class="nav-link dropdown-toggle text-white">Actions</a>
          <div class="dropdown-menu transparency rounded-0 border-0 ">
            <a class="dropdown-item" (click)="showCategoryManagementModal()" *ngIf="userRole == 'ROLE_ADMIN'">
              <h6 class="text-color">Category Management</h6>
            </a>
            <a class="dropdown-item" routerLink="services/add" *ngIf="userRole == 'ROLE_PROVIDER'"><h6 class="text-color">Add Service</h6></a>
            <a class="dropdown-item" routerLink="users" *ngIf="userRole == 'ROLE_ADMIN'"><h6 class="text-color">View Users</h6></a>
          </div>
        </div>
      </li>

      <li class="nav-item" *ngIf="userRole">
        <a class="nav-link" routerLink="billing-accounts">Billing accounts</a>
      </li>
      <li class="nav-item" *ngIf="userRole">
        <a class="nav-link" routerLink="subscriptions">Subscriptions</a>
      </li>
    </ul>
    <!-- Links -->

    <div *ngIf="user">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link">{{user.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" (click)="logOut()">Log Out</a>
        </li>
      </ul>
    </div>

    <div *ngIf="!user">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="showSignInModal()">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="showSignUpModal()">Sign Up</a>
        </li>
      </ul>
    </div>
  </links>


</mdb-navbar>


