<div class="spinner-center">
  <div class="spinner-grow " role="status" *ngIf="loading"></div>
</div>
<div class="container col-lg-6 my-5  py-5 z-depth-1 grey lighten-5 border-0 ">
  <section class="text-center">
    <h4 class="font-weight-bold mb-4 text-center">My Billing Accounts</h4>
    <table class="table table-bordered table-responsive-md table-striped text-center mb-3 col-12">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Balance</th>
        <th scope="col" width="10%">Increase bill</th>
        <th scope="col" width="10%">Remove</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ba of billingAccounts; let i = index">
        <td class="pt-3-half">{{i + 1}}</td>
        <td>{{ba.balance}}</td>
        <td>
          <button class="btn btn-green  btn-rounded btn-sm my-0" (click)="showIncreaseBAModal(ba.id)"><i
            class="fas fa-plus fa-lg"></i>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-rounded btn-sm my-0" (click)="remove(ba.id)"><i
            class="far fa-trash-alt fa-lg"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn  btn-rounded btn-sm my-0" (click)="addBA()">
      <i class="fas fa-plus-circle fa-lg"></i>
    </button>
  </section>
</div>

