<div class="modal-content">
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold">Enter The Quantity</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="mdbModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-8">
        <div class="mb-2 mt-2">
          <input type="number" step="0.1" class="form-control" [formControl]="count" id="inputCount">
          <div class="alert alert-danger mt-3" *ngIf="count.invalid && count.dirty">
            Please enter valid quantity. It should be more then 0.1, format X,XX or X
          </div>
        </div>
      </div>
      <div class="col-4">
        <button class="btn grey lighten-2 mb-1" [disabled]="count.invalid" data-dismiss="modal" id="increase"
                (click)="increase();">Increase
        </button>
      </div>
    </div>
  </div>
</div>
