
<!--Main layout-->
<main class="mt-4">
  <div class="container" style="margin-top: 5rem">

    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center dark-grey-text mb-4">

      <img src="https://mdbootstrap.com/img/Others/404_mdb.png" alt="Error 404" class="img-fluid mb-4">

      <h3 class="font-weight-bold">Oops! This obviously isn't a page you were looking for.</h3>

    </section>
    <!--Section: Content-->

  </div>
</main>
<!--Main layout-->
