/* General */
.wow {
  visibility: hidden;
}

/* Header */
.navbar .navbar-brand img {
  height: 20px;
}

.navbar .navbar-brand {
  padding-top: 0;
}

.navbar .nav-link {
  color: #444343 !important;
}

.navbar .button-collapse {
  padding-top: 1px;
}

.card-intro .card-body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 0 !important;
}

.card-intro .card-body h1 {
  margin-bottom: 0;
}

.card-intro {
  margin-top: 64px;
}

@media (max-width: 992px) {
  .card-intro {
    margin-top: 54px;
  }
}
