<div class="modal-content">
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="mdbModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="form">
    <div class="modal-body mx-3">

      <div class="form-check custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" formControlName="isClient" [value]="true" id="clientRadioId" checked name="isClient"
               mdbInput>
        <label class="custom-control-label" for="clientRadioId">Client</label>
      </div>

      <div class="form-check custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" formControlName="isClient" [value]="false" id="providerRadioId" name="isClient"
               mdbInput>
        <label class="custom-control-label" for="providerRadioId">Service Provider</label>
      </div>

      <div class="mb-3">
        <label for="formFirstName">First name</label>
        <input type="text" id="formFirstName" class="form-control" formControlName="firstName">
        <div class="alert alert-danger mt-3"
             *ngIf="form.controls['firstName'].invalid && form.controls['firstName'].dirty">
          Please enter your first name,using 2-40 Cyrillic or Latin characters and '
        </div>
      </div>

      <div class="mb-3">
        <label for="formLastName">Last name</label>
        <input type="text" id="formLastName" class="form-control" formControlName="lastName">
        <div class="alert alert-danger mt-3"
             *ngIf="form.controls['lastName'].invalid && form.controls['lastName'].dirty">
          Please enter your last name, using 2-40 Cyrillic or Latin characters and '
        </div>
      </div>

      <div class="mb-3">
        <label for="formLogin">Login</label>
        <input type="text" id="formLogin" class="form-control" formControlName="login">
        <div class="alert alert-danger mt-3" *ngIf=" login.invalid && login.dirty && !login.errors?.loginExist">
          Please create your login, using 4-40 Cyrillic or Latin characters, 0-9 digit, _ '
        </div>
        <div class="alert alert-danger mt-3" *ngIf=" login.hasError('loginExist') && login.dirty">
          User with this login already exists
        </div>
      </div>

      <div class="mb-3">
        <label for="formPassword">Password</label>
        <input type="password" id="formPassword" class="form-control" formControlName="password">
        <div class="alert alert-danger mt-3"
             *ngIf="form.controls['password'].invalid && form.controls['password'].dirty">
          Please create your password, using 4-40 Cyrillic or Latin characters, 0-9 digit, _ '
        </div>
      </div>

      <div class="mb-3">
        <label for="formConfirmPassword">Confirm password</label>
        <input type="password" id="formConfirmPassword" class="form-control" formControlName="confirmPassword">
        <div class="alert alert-danger mt-3"
             *ngIf="form.controls['confirmPassword'].invalid && form.controls['confirmPassword'].dirty">
          Passwords don't match
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button class="btn grey lighten-2" [disabled]="form.invalid || form.pending" (click)="register()"
              data-dismiss="modal">Sign up
      </button>
    </div>
  </form>
</div>
