<div class="container container col-lg-6 my-5 " style="margin-bottom: 50px">
  <!-- Material form contact -->
  <div class="card">

    <div class="card-header text-center ">
      <h4 class="font-weight-bold">Create service</h4>
    </div>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">
      <form [formGroup]="providerForm">
        <!-- Name -->
        <div class="mt-3 mb-3">
          <label for="materialContactFormName">Name</label>
          <input type="text" id="materialContactFormName" class="form-control" formControlName="name">
          <div class="alert alert-danger mt-3"
               *ngIf="providerForm.controls['name'].invalid && providerForm.controls['name'].dirty">
            Please enter the service description, 3-30 characters
          </div>
        </div>


        <span>Category</span>
        <select class="browser-default custom-select" formControlName="categoryId">
          <option [ngValue]="null" selected> Select category</option>
          <option *ngFor="let category of getCategories()" value="{{category.id}}">{{category.name}}</option>
        </select>

        <div class="mt-3">
          <label for="price">Price</label>
          <input type="number" id="price" step="0.01" class="form-control" formControlName="price">
          <div class="alert alert-danger mt-3"
               *ngIf="providerForm.controls['price'].invalid && providerForm.controls['price'].dirty">
            Please enter valid price more 0.1 and less 8 characters, format X,XX or X
          </div>
        </div>


        <div class="mb-3">
          <label for="materialContactDescription">Description</label>
          <textarea id="materialContactDescription" class="form-control md-textarea" rows="3"
                    formControlName="description"></textarea>
          <div class="alert alert-danger mt-3"
               *ngIf="providerForm.controls['description'].invalid && providerForm.controls['description'].dirty">
            Please enter the service description, 5-200 characters
          </div>
        </div>

        <div class="custom-file">
          <input type="file" class="custom-file-input" formControlName="photo" id="photo" (change)="onFileSelected($event)"
                 accept="image/jpeg,image/png">
          <label class="custom-file-label" for="photo" *ngIf="!selectedPhoto">Select a photo in png or jpg format</label>
          <label class="custom-file-label" for="photo" *ngIf="selectedPhoto">{{selectedPhoto?.name}}</label>
          <div class="alert alert-danger mt-2"
               *ngIf="providerForm.controls['photo'].invalid">
            Incorrect photo format. Photo should be png or jpg
          </div>
        </div>

        <span>Billing Account</span>
        <select class="browser-default custom-select" formControlName="ownerBillingAccountId">
          <option [ngValue]="null" selected> Select billing account</option>
          <option *ngFor="let ba of billingAccounts; let i = index" value="{{ba.id}}">#{{i + 1}}
            Balance:{{ba.balance}}</option>
        </select>

        <!-- Send button -->
        <button class="btn grey lighten-2 btn-block waves-effect mt-3" [disabled]="providerForm.invalid"
                (click)="createProvider()">Create
        </button>
      </form>

    </div>

  </div>
  <!-- Material form contact -->
</div>
