<div class="spinner-center">
  <div class="spinner-grow " role="status" *ngIf="loading"></div>
</div>
<div class="container my-5 py-5 z-depth-1  grey lighten-5 border-0 ">
  <section class="text-center">
    <h4 class="font-weight-bold mb-4 text-center">Users</h4>
    <table class="table table-bordered table-responsive-md table-striped text-center mb-3 col-12">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Login</th>
        <th scope="col">Subscribes coutnt</th>
        <th scope="col">Billing Accounts</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td class="pt-3-half">{{i + 1}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.login}}
        <td>{{user.scount}}
        <td>
          <button type="button" class="btn btn-rounded btn-sm my-0"
                  (click)="getBillingAccountsByUserId(user.id); modal.show()"><i class="fas fa-wallet fa-2x"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</div>


<div mdbModal #modal="mdb-modal" class="modal fade modalEditClass" id="modalBA" tabindex="-1" role="dialog"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold text-secondary ml-5">Billing accounts</h4>
        <button type="button" class="close text-secondary" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <table class="table table-bordered table-responsive-md table-striped text-center mb-3 col-12">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Balance</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let ba of baListFromUser; let i = index">
            <td>{{i + 1}}</td>
            <td>{{ba.balance}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
