@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

.background {

  background: url(1712606.png) no-repeat left center fixed;
  background-size: cover;
}

.content{
  padding-top: 80px;
}

.spinner-center{
  text-align: center;
}

input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}
input.ng-pending{border:solid yellow 2px;}
textarea.ng-touched.ng-invalid {border:solid red 2px;}
textarea.ng-touched.ng-valid {border:solid green 2px;}
select.ng-touched.ng-invalid {border:solid red 2px;}
select.ng-touched.ng-valid {border:solid green 2px;}

