<div class="modal-content">
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold text-secondary ml-5">Subscribe</h4>
    <button type="button" class="close text-secondary" (click)="mdbModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mx-3">
    <div class="mb-3">
      <label for="Customization">Select the end subscription date</label>
      <input placeholder="Select date" type="date" min="{{currentDateString}}" id="Customization" class="form-control"
             [formControl]="endDate">
    </div>
    <span>Billing Account</span>
    <select class="browser-default custom-select" [formControl]="billingAccountId">
      <option [ngValue]="null" selected> Select billing account</option>
      <option *ngFor="let ba of billingAccounts; let i = index" value="{{ba.id}}">#{{i + 1}}
        Balance:{{ba.balance}}</option>
    </select>

  </div>
  <div class="modal-footer d-flex justify-content-center ">
    <button class="btn grey lighten-2 waves-effect" data-dismiss="modal"
            [disabled]="endDate.invalid || billingAccountId.invalid"
            (click)="subscribe()">Subscribe
    </button>
  </div>
</div>
