<div class="spinner-center">
  <div class="spinner-grow " role="status" *ngIf="loading"></div>
</div>
<div class="container my-5 py-5 z-depth-1  grey lighten-5 border-0 " *ngIf="!loading">
  <section class="text-center">
    <h3 class="font-weight-bold mb-5">Service Details</h3>
    <div class="row">
      <div class="col-md-6">
        <div *ngIf="provider?.photo == null">
          <img class="card-img" width="200" height="350" src="https://portdoverkia.com/dist/img/nophoto.jpg"
               alt="{{provider?.name}}"/>
        </div>
        <div *ngIf="provider?.photo != null">
          <img class="card-img" width="200" height="300" src="data:image/jpg;base64,{{provider.photo}}"
               alt="{{provider?.name}}"/>
        </div>
      </div>
      <div class="col-lg-5 text-center text-md-left">
        <h2
          class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">
          <strong>{{provider?.name}}</strong>
        </h2>
        <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">
          <span class="red-text font-weight-bold">
            <strong>{{provider?.price}} BYN per day</strong>
          </span>
        </h3>

        <div class="accordion md-accordion"  role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo2">
              <a  (click)="category.toggle()">
                <h5 class="mb-0">
                  Category
                  <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>
            <div  class="" mdbCollapse  #category="bs-collapse">
              <div class="card-body">{{provider?.category.name}}</div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" role="tab" id="headingOne1">
              <a (click)="description.toggle()">
                <h5 class="mb-0">
                  Description
                  <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>
            <div  class="" mdbCollapse #description="bs-collapse" >
              <div class="card-body">{{provider?.description}}</div>
            </div>
          </div>
        </div>

        <div class="row mt-3">

          <div  class="col-md-4 text-center text-md-left text-md-left" *ngIf="userRole == 'ROLE_ADMIN'">
            <button type="button" mdbBtn class="btn btn-danger btn-rounded" (click)="frame.show(); "
                   >Delete
            </button>
          </div>

          <div class="col-md-4 text-center text-md-left text-md-right" *ngIf="userRole == 'ROLE_ADMIN'">
            <div class="text-center buttonEditWrapper">
              <button class="btn btn-primary btn-rounded" (click)=" openEditModal()"
              >Edit<i class="fas fa-pencil-square-o ml-1"></i></button>
            </div>
          </div>

          <div class="col-md-4 text-center text-md-left text-md-right" *ngIf="userRole">
            <button class="btn btn-primary btn-rounded"
                    (click)="openSubscribeModal()">Subscribe
            </button>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>


<div mdbModal #frame="mdb-modal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <mdb-icon fas icon="times" size="4x" class="animated rotateIn"></mdb-icon>
        <h4><br>All subscriptions will be deleted</h4>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a  mdbBtn color="danger" outline="true" class="waves-effect"
            (click)="deleteProvider(provider.id); frame.hide()" mdbWavesEffect>Yes</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal"
           (click)="frame.hide()">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
