<div class="container col-lg-6 my-5 ">
  <section class="text-center mb-4">
    <div class="spinner-grow" role="status" *ngIf="loading">
      <span class="sr-only">Loading...</span>
    </div>
    <div *ngFor="let subscription of subscriptions;">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
              <div *ngIf="subscription.provider.photo == null">
                <img class="card-img" width="100" height="150" src="https://portdoverkia.com/dist/img/nophoto.jpg"
                     alt="{{subscription.provider.name}}" routerLink="../services/{{subscription.provider.id}}"/>
              </div>
              <div *ngIf="subscription.provider.photo != null">
                <img class="card-img" width="100" height="150"
                     src="data:image/jpg;base64,{{subscription.provider.photo}}"
                     alt="{{subscription.provider.name}}" routerLink="../services/{{subscription.provider.id}}"/>
              </div>

            </div>
            <div class="col-lg-4 col-md-12">
              <h4 style="margin-bottom: 1em">
                <a routerLink="../services/{{subscription.provider.id}}"
                   class="dark-grey-text">{{subscription.provider.name}}</a>
              </h4>

              <h4 class="font-weight-bold blue-text">
                <strong>{{subscription.provider.price}} BYN</strong>
              </h4>

              <h4 class="mt-3" *ngIf="subscription.status.name != 'Finished'">Days left: {{subscription.daysNumber}}</h4>
              <h4 class="mt-3">{{subscription.status.name}}</h4>

            </div>
            <div class="col-lg-4 col-md-12">
              <button class="btn btn-danger btn-rounded center-btn" (click)="delete(subscription.id)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
