<div class="modal-content">
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold">Category management</h4>
    <button type="button" class="close" (click)="mdbModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <table class="table table-bordered table-responsive-md table-striped text-center mb-3 col-12">
    <thead>
    <tr>
      <th class="text-center">Category name</th>
      <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of getCategories()">
      <td class="pt-3-half">{{category.name}}</td>
      <td>
        <button type="button" class="btn btn-danger btn-rounded btn-sm my-0"
                (click)=" categoryName = category.name; categoryId = category.id; frame.show();"><i
          class="far fa-trash-alt fa-lg"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" [formControl]="name" class="form-control validate">
        <div class="alert alert-danger mt-3"
             *ngIf="name.hasError('categoryExist') && name.dirty">
          Such category name already busy.
        </div>
        <div class="alert alert-danger mt-3"
             *ngIf="name.invalid && name.dirty && !name.hasError('categoryExist')">
          Category name can be consist of 2-40 Cyrillic or Latin characters and 0-9 digit
        </div>
      </td>

      <td>
        <button type="button" [disabled]="name.invalid && name.dirty"
                class="btn btn-green btn-rounded btn-sm my-0 text-white"
                (click)="addCategory()"><i class="fas fa-plus-circle fa-lg"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>


<div mdbModal #frame="mdb-modal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>
      <!--Body-->
      <div class="modal-body">
        <mdb-icon fas icon="times" size="4x" class="animated rotateIn"></mdb-icon>
        <h4><br>If you delete category - {{categoryName}}, all services associated with it will be deleted. </h4>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" routerLink="../"
           (click)="deleteCategory(categoryId, categoryName); frame.hide()" mdbWavesEffect>Yes</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal"
           (click)="frame.hide()">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
